/*Contents

    a. Overall styles
        a.1. Colour scheme
        a.2. Separator
    b. Backbone
        b.1. Main Backbone
            b.1.1. Header
            b.1.2. Advantages
            b.1.3. About
            b.1.4. Clients
            b.1.5. Footer
            b.1.6. Contacts
*/

/*a. Overall styles*/
    @font-face {
        font-family: RCLight;
        src: url(../fonts/RobotoCondensed-Light.ttf);
    }
    @font-face {
        font-family: RCRegular;
        src: url(../fonts/RobotoCondensed-Regular.ttf);
    }
    @font-face {
        font-family: RCBold;
        src: url(../fonts/RobotoCondensed-Bold.ttf);
    }
    @font-face {
        font-family: RCBoldItalic;
        src: url(../fonts/RobotoCondensed-BoldItalic.ttf);
    }
    @font-face {
        font-family: RCItalic;
        src: url(../fonts/RobotoCondensed-Italic.ttf);
    }
    body{
        margin: 0;
        background: white;
        font-family: RCRegular;
        font-size: 1rem;
        line-height: 1.2777778rem;
    }
        h1,
        .h1Like{
            font-size: 1.2222222rem;
            line-height: 1.2777778rem;
            margin-top: 1.2777778rem;
            margin-bottom: 2.5555556rem;
            font-weight: bold;
        }
        .h1LikePS{
            font-size: 2.4444444rem;
            line-height: 1.2777778rem;
            margin-top: 1.2777778rem;
            margin-bottom: 3.8333334rem;
            font-weight: bold;
        }
        h2{
            font-size: 1.1111111rem;
            line-height: 1.2777778rem;
            margin-top: 1.2777778rem;
            margin-bottom: 1.2777778rem;
        }

        .smallTxt{
            font-size: .75rem;
            line-height: .95833335rem;
        }

        /*a.1. Colour scheme*/
            .schemeBlueTxt{
                color: #0072bc;
            }
            .schemeRedTxt{
                color: #e10908;
            }

        /*a.2. Separator*/
            .separator{
                position: relative;
                top: -2.5555556rem;
                height: 15px;
            }
                .separator:before,
                .separator:after{
                    content: '';
                    display: block;
                    width: 30%;
                    height: 1px;
                    background: black;
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 0;
                }
                .separator:after{
                    left: auto;
                    right: 0;
                }

            .sepContent{
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
                .separator div[class$="Ball"]{
                    width: 10%;
                    display: flex;
                    justify-content: center;
                }
                .separator .firstBall div{
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: black;
                }
                .separator .secondBall div{
                    width: 7px;
                    height: 7px;
                    margin: 0 auto;
                    border-radius: 50%;
                    background: black;
                }
                .separator .thirdBall div{
                    width: 10px;
                    height: 10px;
                    margin: 0 auto;
                    border-radius: 50%;
                    background: black;
                }
                .separator .fourthBall div{
                    width: 15px;
                    height: 15px;
                    margin: 0 auto;
                    border-radius: 50%;
                    background: black;
                }


/*b. Backbone*/

    /*b.1. Main Backbone*/

        /*b.1.1. Header*/
            .logo{
                background: url("../imgs/logo.png") center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .phoneNumbers{
                font-family: RCBoldItalic;
                font-size: .75rem;
                line-height: .95833335rem;
                margin-top: .95833335rem;
                margin-bottom: .95833335rem;
            }
            .searchKeeper{
                margin-top: 2.5555556rem;
                padding-bottom: 10.2222224rem;
                background: url("../imgs/headerBG.png") center;
                background-repeat: no-repeat;
                background-size: contain;
            }
                .searchKeeper h1{
                    text-align: center;
                }

                .searchKeeper form{
                    box-shadow: 0 0 0 5px rgba(0,0,0,.25);
                    border-radius: 15px;
                    padding: 0;
                    margin-bottom: .95833335rem;
                }
                    .searchKeeper form input{
                        width: 80%;
                        float: left;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                        padding: 6px 12px;
                        border: solid 1px black;
                        outline: none;
                        border-right: none;
                    }

                    .searchKeeper form label{
                        display: block;
                        float: right;
                        width: 20%;
                        text-align: center;
                        border-radius: 15px;
                        padding: 5px 0;
                        color: white;
                        background: linear-gradient(to bottom, #3d3d3d, #000);;
                    }
                .searchKeeper p{
                    margin-top: 0;
                    margin-bottom: 0;
                }
                    .searchKeeper p span.smallTxt{
                        border-bottom: dashed 1px black;
                    }

                .searchKeeper a.smallTxt{
                    text-align: right;

                }

    /*b.1.2. Advantages*/
        .mainAdvantages{
            border: solid 5px rgba(0,0,0,.25);
            margin-top: 2.5555556rem;
        }
            .mainAdvantages .h1Like{
                margin-top: -1.2777778rem;
                margin-bottom: 1.2777778rem;
                padding-top: .6388889rem;
                text-align: center;
                background: white;
            }

            .mainAdvantages .advItem{
                text-align: center;
            }
                .mainAdvantages .imgKeeper{
                    width: 25%;
                    margin-left: 37.5%;
                }
                    .mainAdvantages .imgKeeper img{
                        width: 100%;
                        height: auto;
                    }

                .mainAdvantages h2{
                    position: relative;
                }
                    .mainAdvantages h2:after{
                        content: '';
                        display: block;
                        position: relative;
                        left: 45%;
                        bottom: -.6388889rem;
                        width: 10%;
                        height: 1px;
                        background: #e10908;

                    }
    /*b.1.3. About*/
        .mainAbout .imgKeeper{
            background: url("../imgs/about.png") center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0 0 30px rgba(0,0,0,.5);
        }

        .mainAbout .h1LikePS{
            font-family: RCBoldItalic;
            text-align: center;
            position: relative;
        }
            .mainAbout .h1LikePS:after{
                content: '';
                display: block;
                position: relative;
                left: 45%;
                bottom: -1.9166667rem;
                width: 10%;
                height: 1px;
                background: #e10908;
            }

            .mainAbout .about:last-child{
                margin-top: 1.2777778rem;
            }

    /*b.1.4. Clients*/
        .mainClients{
            margin-top: 5.1111112rem;
            margin-bottom: 5.1111112rem;
            border: solid 1px #e10908;
            padding-bottom: 2.5555556rem;
        }


            .mainClients h2{
                font-family: RCBoldItalic;
                background: white;
                color: #e10908;
                text-align: center;
                height: 50px;
                position: relative;
                top: -25px;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 45px;
                border-bottom: solid 1px #e10908;
            }
                .mainClients h2:after{
                    content: '';
                    display: block;
                    width: 26px;
                    height: 1px;
                    background: #e10908;
                    position: relative;
                    left: 0;
                    bottom: 0;
                    transform-origin: -5px 10px;
                    transform: rotate(-90deg);
                }
                .mainClients h2:before{
                    content: '';
                    display: block;
                    width: 26px;
                    height: 1px;
                    background: #e10908;
                    position: relative;
                    right: 0;
                    bottom: 0;
                    transform-origin: 74px 98px;
                    transform: rotate(90deg);
                }
                .mainClients .owl-nav{
                    position: absolute;
                    width: 110%;
                    top: 50%;
                    left: -5%;
                }
                    .mainClients .owl-nav>*{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .mainClients .owl-nav .owl-next{
                        left: auto;
                        right: 0;
                    }
                        .mainClients .owl-nav>* img{
                            width: 15px;
                            height: 30px;
                        }


    /*b.1.5. Footer*/
        footer.mainFooter{
            border-top: solid 1px black;
        }
            footer.mainFooter p{
                text-align: center;
            }

    /*b.1.6. Contacts*/
        .mainContacts{
            margin-bottom: 2.5555556rem;
        }
            .mapKeeper{
                box-shadow: 0 0 30px rgba(0,0,0,.5);
                margin-bottom: 2.5555556rem;
                padding: 0;
            }